

header,header .header-content {
    position: relative;
    width: 100%;
    text-align: center
}

body,html {
    height: 100%;
    width: 100%
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    webkit-tap-highlight-color: #222;
    background-color: beige;
}

.btn,.navbar-default,.navbar-default .navbar-header .navbar-brand,h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif
}

hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 50px
}

hr.light {
    border-color: #fff
}

a {
    transition: all .35s;
}

a:focus,a:hover {
    color: #eb3812
}

p {
    line-height: 1.5;
    margin-bottom: 20px
}

.bg-primary {
    background-color: #F05F40
}

.bg-dark {
    background-color: #222;
    color: #fff
}

.text-faded {
    color: rgba(255,255,255,.7)
}


aside {
    padding: 50px 0
}

.no-padding {
    padding: 0
}


header {
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(assets/images/header.jpg);
    color: #fff
}

header .header-content {
    padding: 100px 15px
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px
}

header .header-content .header-content-inner hr {
    margin: 30px auto
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255,255,255,.7);
    font-size: 16px;
    margin-bottom: 50px
}

@media (min-width: 768px) {
    header {
        min-height:100%
    }

    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px
    }

    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner h1 {
        font-size: 50px
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}

.section-heading {
    margin-top: 0
}


.btn-default.active,.btn-default:active,.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-default,.open>.dropdown-toggle.btn-primary {
    background-image: none
}





.call-to-action h2 {
    margin: 0 auto 20px
}

.text-primary {
    color: #F05F40
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.btn-default {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    transition: all .35s
}

.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default {
    color: #222;
    background-color: #f2f2f2;
    border-color: #ededed
}

.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled.focus,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #fff
}

.btn-default .badge {
    color: #fff;
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #F05F40;
    border-color: #F05F40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s
}

.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ee4b28;
    border-color: #ed431f
}

.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
    background-color: #F05F40;
    border-color: #F05F40
}

.btn-primary .badge {
    color: #F05F40;
    background-color: #fff
}

.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase
}

.btn-xl {
    padding: 15px 30px
}




